@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.container {
  margin: 20px 0;
  padding-right: 5%;
  max-height: 300px;
  overflow-y: auto;
  > input {
    margin: 5px 0;
  }
}

.location {
  display: flex;

  > input {
    margin: 5px 10px;
  }
}

.buttons {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
