@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding-top: 100px;
}
.home {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 40px;
  z-index: 3;

  @include tablet {
    top: 25px;
  }
  @include mobile {
    top: 25px;
    left: 10px;
    width: 30px;
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 25%;
  height: 200px;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.children {
  background-color: $dark-gray;
  margin: 5% 0;
  height: 100%;
  padding: 20px 200px 100px 200px;
  border-radius: $border-cards;

  @include desktop {
    width: 50%;
    padding:100px;
  }

  @include tablet {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 100%;
    padding: 100px;
  }
  @include mobile {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    padding: 50px 10px;
    width: 500px;
    height: 100%;
  }
}
