@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.listItemsContainer {
    display: flex;
    width: auto;
    list-style: none;
    flex-wrap: wrap;
}

.listItems {
    display: flex;
    width: auto;
    background-color: $gray-profile;
    padding: 2%;
    margin: 0 5px;
    border-radius: $border-buttons;
    text-align: left;
    > img {
        margin-right: 30px;
    }
    
}
