@import '../../../styles/variables.scss';

.wrapper {
  display: block;
}
.container { 
  height: 90vh;
  overflow: hidden;
}

.card {
  overflow: hidden;
  position: relative;
  border-radius: $--border__images;
  img {
    border-radius: $--border__images;
  }
}

.card__animation {
    animation: animate 60s linear infinite;
    
      @keyframes animate {
        100% {
          transform: translateY(-100%);
        }
      }
    }
  