.conteiner {
    height : 410px;
    padding: 0 10% 0 10%;


.conteinerConteudo {
    height         : 300px;
    display        : flex;
    justify-content: space-between;
}

p {
    margin-bottom: 30px;
    cursor       : default
}


li {
    list-style   : none;
    font-size    : 21px;
    margin-bottom: 20px;
    font-family  : "DM Sans", sans-serif;
    color        : white;
    cursor       : pointer;
    display      : flex;
    align-items  : center;
}

.membro {
    margin-top: 55px;
}

.sobre {
    width: 510px;
}

.box {
    float: left;
    width: 300px;
}

.redesSociais img {
    color       : white;
    height      : 30px;
    margin-right: 20px;
}

.finalFooter {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

span {
    color      : white;
    font-size  : 15px;
    font-family: "DM Sans", sans-serif;
}}