@import "../../styles/mixins.scss";

.conteiner {
    height : 410px;
    padding: 5% 10% 0 10%;


.conteinerConteudo {
    height         : 300px;
    display        : flex;
    justify-content: space-between;

    @include mobile {
        flex-wrap: wrap;
    }
}

p {
    margin-bottom: 30px;
    cursor       : default
}


li {
    list-style   : none;
    font-size    : 21px;
    margin-bottom: 20px;
    font-family  : "DM Sans", sans-serif;
    color        : white;
    cursor       : pointer;
    display      : flex;
    align-items  : center;
}

.membro {
    margin-top: 55px;
}

.sobre {
    width: 510px;

    @include mobile {
        width: 150px;
    }
}

.box {
    float: left;
    width: 300px;

    @include mobile {
        width: 150px;

        > p {
            font-size: 2.4rem;
        }
    }
}

.redesSociais img {
    color       : white;
    height      : 30px;
    margin-right: 20px;
}

.finalFooter {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    @include mobile {
        > img {
            width: 30%;
        }
        > p {
            font-size: 1.6rem;
        }
    }
}

.finalFooterContainer {
    @include mobile {
        margin-top: 150%;
    }
}

span {
    color      : white;
    font-size  : 15px;
    font-family: "DM Sans", sans-serif;
}}