@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    background-color: #101010;
    height          : 90vh;
    width           : 100%;
    display         : flex;
    justify-content : space-evenly;
    align-items     : center;
    margin-right    : 100px;


    @include mobile {
        height         : 1400px;
        display        : flex;
        flex-direction : column;
        margin-right   : 0px;
        justify-content: space-between;

        >p {
            font-size: 2.4rem;
        }

    }
}

.saiba_mais {
    height: 56%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include mobile {
        height         : 600px;
        width          : 100%;
        align-items    : flex-start;
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;

        >p {
            font-size: 2.4rem;
        }

        >h1>span {
            font-size: 2.8rem;
        }
    }

}

.box_conta {
    background-color: #000000;
    // float: left;
    width           : 20%;
    height          : 50%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    text-align      : left;
    border-radius   : 10px;
    padding         : 10px 40px 10px 40px;

    @include mobile {
        padding    : 0px;
        width      : 70%;
        height     : 350px;
        display    : flex;
        align-items: flex-start;


        >h1>span {
            font-size: 2.8rem;
        }

    }
}

.buttons {
    width     : 90%;
    align-self: center;
    display   : flex;

    @include mobile {
        width    : 200px;
        font-size: 2.4rem;

    }

}