@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.containerEmpty {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }

  .navigation {
    width: 90%;
    display: flex;
    margin: 0 auto;
    color: $white;
    padding: 30px;
    justify-content: space-between;
    > img {
      height: 85%;
    }

    > ul {
      list-style: none;
      display: flex;
      font-size: $text;
      justify-content: space-evenly;
      align-items: center;

      > li {
        margin: 0 40px;
        cursor: pointer;
        width: 90px;

        &:hover {
          > div {
            height: 4px;
            animation: border 0.8s linear 1 forwards;
            background-color: $purple;
          }
          @keyframes border {
            0% {
              width: 0;
            }
            100% {
              width: 100%;
            }
          }
        }

        @include desktop {
          width: 100px;
          margin: 0 20px;
          text-align: center;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: 80px;

      @include desktop {
        margin-left: 30px;
      }

      > li:last-of-type {
        width: 180px;
      }
      > li {
        margin: 0 10px;
        cursor: pointer;

        > a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.containerFill {
  @extend .containerEmpty;
  background-color: $black;
}
