@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  > h1 > span {
    color: $purple !important;
  }
  height: 100%;
  @include mobile {
    > h1 > span {
      font-size: 3rem;
    }

    > p {
      font-size: 2.4rem;
    }
    width: 320px;
  }
}

.profession {
  margin-left: 20px;
}

.labels {
  color: $white;
  font-size: $text;
}
.users {
  display: flex;
}

.switch {
  position: relative;
  display: flex;
  width: 50px;
  height: 34px;
  top: 15px;
  width: 150px;
  > input {
    width: 5px;
    outline: none;
    border: none;
  }
}

.contratante {
  width: 200px;
  margin-left: 100px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: $border-buttons;
  background-color: $black;
  width: 70px;

  &:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: $gray-profile;
    transition: 0.4s;
    border-radius: 50%;
  }
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: $purple;
}
.content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  flex-direction: column;
}

.labelSetting {
  @extend .labels;
  width: 300px;
}

.remember {
  display: flex;
  width: 50%;
}

.password {
  display: flex;
  position: relative;
  width: 104%;

  > img {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
}

.error {
  font-size: 1.6rem;
  color: red;
  margin: -5px;
}
