.content{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.first-side, 
.second-side{
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 200px;
    height: 200px;
}