@import "../../../styles/mixins.scss";

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  margin: 15% 0;

  @include mobile {
    width: 100%;

    > h1 > span {
      font-size: 4rem;
    }

    > p {
      font-size: 2.4rem;
      margin: 20px 0;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 10px;

  > div {
    width: 45%;
  }

  > button {
    margin-right: 2%;
  }
}

.images {
  position: absolute;
  height: 750px;
  align-self: flex-end;
  bottom: 10vh;
  overflow: hidden;
  right: 10%;

  @include mobile {
    display: none;
  }
}
