@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.container {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;

  > input {
    margin: 5px 0;
    width: 80%;
  }
}

.location {
  display: flex;
  width: 80%;

  > input {
    margin: 5px 10px;
  }
}

.buttons {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.textArea {
  background-color: $dark-blue;
  border: none;
  border-radius: $border-images;
  margin-top: 20px;
  padding: 20px;
  font-size: $text;
  height: 150px;
  width: 80%;
  color: $white;
}
