@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.textArea {
  background-color: $gray-profile;
  border: none;
  border-radius: $border-images;
  margin-top: 50px;
  padding: 20px;
  font-size: $text;
  height: 270px;
  width: 93%;
  color: $white;
}

.buttons {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
