@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.wrapper {
  display: block;
}

.container {
  height: 110vh;
  overflow: hidden;
  @include tablet {
    width: 250px;
  }
}
.foto {
 height: 450px;
  padding: 20px;
 

}
.card {
  overflow: hidden;
  position: relative;
  border-radius: $border-images;

  img {
    
    border-radius: 20px;
    @include tablet {
      width: 250px;
    }
  }
  
}
.fotoFreela {
  min-width: 360px;
  min-height: 500px;
  max-height: 500px;
}

.sobre {
  color: white;
  margin-top: 20px;
  position: absolute;
  bottom: -20px;
  padding: 20px;
}