@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.container {
  margin-top: 20px;

  > input {
    margin: 5px 0;
  }
}

.buttons {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
