.cardWrapper {
  overflow: hidden;
  overflow-x: scroll;
}

.cardContainer {
  display: flex;

  width: auto;
  margin-top: 120px;
  position: relative;
  > div {
    min-width: 360px;
    width: 360px;
    margin: 0 20px;
    &::after {
      width: 200px;
      height: 200px;
      background-color: white;
      z-index: 9999;
      position: absolute;
      left: 0;
    }
  }
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
.cardContainerInfo {
  margin: 0;
  @extend .cardContainer;
  > div {
    width: 360px;
    margin: 0 20px;
    &::after {
      width: 200px;
      height: 200px;
      background-color: white;
      z-index: 9999;
      position: absolute;
      left: 0;
    }
  }

  .tooltip {
    display: none;
  }
}
