@import '../../../../styles/variables.scss';

.card { 
  background-color: rgba(255,255,255,0.3);
  color: $white;
  position: absolute;
  bottom: 10px;
  left: 40px;
  width: 65%;
  padding: 20px 30px;
  font-size: $--text;
  border-radius: $--border__cards;
  display: flex;
  flex-direction: column;

  img {
    width: 8%;
    height: 8%;
  }
}

.container { 
  display: flex;
  justify-content: space-between;
}

.container__location { 
  display: flex;
}