@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.card {
  background-color: rgba(44, 44, 44, 0.653);
  color: $white;
  position: absolute;
  bottom: 10px;
  left: 40px;
  width: 65%;
  padding: 20px 30px;
  font-size: $text;
  border-radius: $border-cards;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 240px;
    left: 0;
    padding: 5px;
  }

  img {
    width: 8%;
    height: 8%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.container__location {
  display: flex;
}
