@import "../../../styles/variables.scss";

.imgProfile {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    margin: 10% 0;
}

.formContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;

    .button {
        margin-top: 24px;

        &:hover {
            opacity: 0.8;
        }
    }
}

input[type="file"]::-webkit-file-upload-button {
    background-color: transparent;
    border: 2px solid $purple;
    color: $white;
    font-size: $text;
    padding: $padding-buttons;
    border-radius: $border-buttons;
    cursor: pointer;
}


input[type="file"]::-webkit-file-upload-button:hover {
    opacity: 0.8;
}