@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  margin-top: 120px;
  > h1 > span {
    color: $purple !important;
  }
  @include mobile {
    > h1 > span {
      font-size: 3rem;
    }

    > p {
      font-size: 2.4rem;
    }
    width: 320px;
  }
}

.labels {
  color: $white;
  font-size: $text;
}

.content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10%;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  width: 100%;
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  flex-direction: column;
}

.labelSetting {
  @extend .labels;
  width: 300px;
}

.remember {
  display: flex;
  width: 50%;

  > input {
    width: 30px;
    margin-right: 10px;
  }
}
.labelsSenha {
  @extend .labels;
  cursor: pointer;

  &:hover {
    color: $purple;
  }
}
.password {
  display: flex;
  position: relative;
  width: 104%;

  > img {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
}
.error {
  font-size: 1.6rem;
  color: red;
  margin: -5px;
}
