@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.mensagem {
  height: 21%;
  width: 35%;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 130px;
  float: left;
}

.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.container {
  padding-top: 150px;
}
@include mobile {
  div:not(.mensagem, .containerCards > div) {
    flex-direction: column;
  }
  .mensagem {
    width: 100%;
  }
  .containerCards > div {
    width: 85%;
  }
}
