.conteiner {
    height     : 100vh;
    width      : 100%;
    display    : flex;
    align-items: center;
}

.mensagem {
    height     : 21%;
    width      : 35%;
    margin-left: 15%;
    float      : left;

}

.containerCards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}