@import "../../../styles/variables.scss";
// @import "../../styles/mixins.scss";

.container {
  margin-top: 20px;

  > input {
    margin: 5px 0;
  }
}

.buttons {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.labels {
  color: $white;
  font-size: $text;
}
.password {
  display: flex;
  position: relative;
  width: 104%;
  margin: 20px 0;
  > img {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
}
.error {
  font-size: 1.6rem;
  color: red;
  margin: -5px;
}
