@import "../../styles/variables.scss";

.text {
  color: $white;
  font-size: $--subtitle;
  font-family: $--text__font;
}

.text__small {
  @extend .text;
  font-size: $--text;
}

.upperCase {
  @extend .text;
  text-transform: uppercase;
  font-size: $--text;
}
