@import "../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: $dark-gray;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $purple;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 10px;
}

input {
  background-color: $dark-blue;
  outline: none;
  border-radius: $border-input;
  border: none;
  width: 100%;
  padding: 2%;
  color: $white;
  font-size: $text;
}