//colors
$black: #000;
$white: #fff;

//primary
$--primary-purple: #7509BD;
$--primary-dark-gray: #101010;

//secundary

//font-sizes
$--text: 2.4rem;
$--title: 4.2rem;
$--subtitle: 3.2rem;

//devices
$mobile: 540px;
$tablet: 1024px;
$desktop: 1280px;

