@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@700&display=swap");

//colors
$black: #000;
$white: #fff;

//primary

$purple: #a24fd9;
$dark-gray: #101010;
$dark-blue: #344064;
$gray-profile: #454545;
$black-profile: #191A1D;

//secundary

//font-sizes
$text: 2.2rem;
$title: 4.2rem;
$subtitle: 3rem;

//widths
$width-content: 80%;
$width-button: 300px;

//border
$border-buttons: 50px;
$border-images: 20px;
$border-cards: 10px;
$border-input: 130px;

//padding
$padding-buttons: 1%;

//devices
$mobile: 540px;
$tablet: 1024px;
$desktop: 1280px;

//fonts
$title-font: "Montserrat", sans-serif;
$text-font: "DM Sans", sans-serif;
