@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  overflow: hidden;
  width: 100vw;
  overflow-x: scroll;

  @include mobile {
    > p {
      font-size: 2.4rem;
    }
  }

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $purple;
  }
  .list {
    display: flex;
    justify-content: space-around;
    width: 200vw;
    white-space: nowrap;
    align-self: flex-start;

    @include mobile {
      width: 400vw;
    }

    > li {
      background-color: $purple;
      display: flex;
      border-radius: $border-cards;
      justify-content: center;
      width: 690px;
      margin: 0 5px;

      > img {
        height: 100%;

        @include tablet {
          height: 250px;
        }

        @include mobile {
          height: 250px;
        }
      }
    }
  }
}
